.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.App-subtitle {
  font-size: 1em;
}

.imgbox {
  background-color: #fff;
  height: 180px;
  padding: 10px;
  margin-top: 60px;
}

.left-img {
  float: left;
  margin-left: 70px;
  border-width: 10px;
  background-color: #fff;
}

.right-img {
  float: right;
  margin-right: 70px;
  border-width: 10px;
  background-color: #fff;
}

.btbox {

}

.button_submit {

}

.terminalbox{
  height: 100px;
  padding: 10px;
  margin-top: 20px;
}

.terminal{
  width: 100%;
  padding: 10px;
  height: 100px;
  margin-top: 20px;
}

.right-blank{
  float: right;
  padding: 10px;
  height: 100px;
  margin-top: 20px;
}

.footer {
  background-color: #222;
  height: 130px;
  padding: 10px;
  color: white;
  margin-top: 30px;
}

.footer-title {
  font-size: 1em;
}

.footer-subtitle {
  font-size: 0.5em;
}

.link_github {
  color: #f9f900;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
